{% assign template_base = template | split: '.' | first %}

{% unless template == 'index' or template_base == 'article' or template_base == 'product' %}
  <div class="container">
    <nav class="breadcrumb{% unless template_base == 'product' %} breadcrumb--center {% endunless %}" role="navigation" aria-label="breadcrumbs">
  <a href="{{ routes.root_url }}" title="Home">Home</a>
  {% if template_base == 'page' %}
   {% render 'icon-breadcrumb' %}
    <span>{{ page.title }}</span>
  {% elsif template_base == 'product' %}
    {% if collection.url %}
      {% render 'icon-breadcrumb' %}
      {{ collection.title | link_to: collection.url }}
    {% endif %}
   {% render 'icon-breadcrumb' %}
    <span>{{ product.title }}</span>
  {% elsif template_base == 'collection' and collection.handle %}
    {% render 'icon-breadcrumb' %}
    {% if current_tags %}
      {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
      {{ collection.title | link_to: url }}
      {% render 'icon-breadcrumb' %}
      <span>{{ current_tags | join: " + " }}</span>
    {% else %}
      <span>{{ collection.title }}</span>
    {% endif %}
  {% elsif template == 'blog' %}
     {% render 'icon-breadcrumb' %}
    {% if current_tags %}
      {{ blog.title | link_to: blog.url }}
    {% render 'icon-breadcrumb' %}
      <span>{{ current_tags | join: " + " }}</span>
    {% else %}
    <span>{{ blog.title }}</span>
    {% endif %}
  {% else %}
   {% render 'icon-breadcrumb' %}
   <span>{{ page_title }}</span>
  {% endif %}
</nav>
  </div>
{% endunless %}