<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="theme-color" content="">
		<link rel="canonical" href="{{ canonical_url }}">
		<link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

		{%- if settings.favicon != blank -%}
			<link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
		{%- endif -%}

		{%- unless settings.type_header_font.system? -%}
			<link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
		{%- endunless -%}

		<title>{{ shop.name }}</title>

		<meta name="description" content="{{ page_description | escape }}">

		{% render 'meta-tags' %}

		{{ content_for_header }}

		{%- liquid
			assign body_font_bold = settings.type_body_font | font_modify: 'weight', '600'
			assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
			assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
			assign heading_font_regular = settings.type_header_font | font_modify: 'weight', '400'
		%}

		{% style %}
			{{ settings.type_body_font | font_face: font_display: 'swap' }}
			{{ body_font_bold | font_face: font_display: 'swap' }}
			{{ body_font_italic | font_face: font_display: 'swap' }}
			{{ body_font_bold_italic | font_face: font_display: 'swap' }}
			{{ heading_font_regular | font_face: font_display: 'swap' }}
			{{ settings.type_header_font | font_face: font_display: 'swap' }}
			{{ settings.type_button_font | font_face: font_display: 'swap' }}
			{{ settings.type_header_menu_font | font_face: font_display: 'swap' }}

			:root {
			--font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
			--font-body-style: {{ settings.type_body_font.style }};
			--font-body-weight: {{ settings.type_body_font.weight }};

			--font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
			--font-heading-style: {{ settings.type_header_font.style }};
			--font-heading-weight: {{ settings.type_header_font.weight }};
			--font-heading-letter-spacing: {{ settings.type_header_letter_spacing }}em;

			--font-heading-card-family: {{ settings.type_header_font_card.family }}, {{ settings.type_header_font_card.fallback_families }};
			--font-heading-card-style: {{ settings.type_header_font_card.style }};
			--font-heading-card-weight: {{ settings.type_header_font_card.weight }};
			--font-heading-card-text-transform: {{ settings.heading_text_transform_card }};
			--font-heading-card-letter-spacing: {{ settings.type_header_card_letter_spacing }}em;

			--font-body-scale: {{ settings.body_scale | divided_by: 100.0 }};
			--font-heading-scale: {{ settings.heading_scale | times: 1.0 | divided_by: settings.body_scale }};
			--font-heading-card-scale: {{ settings.heading_scale_card | times: 1.0 | divided_by: settings.body_scale }};

			--font-button-family: {{ settings.type_button_font.family }}, {{ settings.type_button_font.fallback_families }};
			--font-button-style: {{ settings.type_button_font.style }};
			--font-button-weight: {{ settings.type_button_font.weight }};
			--font-button-text-transform: {{ settings.button_text_transform }};

			--font-button-family: {{ settings.type_button_font.family }}, {{ settings.type_button_font.fallback_families }};
			--font-button-style: {{ settings.type_button_font.style }};
			--font-button-weight: {{ settings.type_button_font.weight }};
			--font-button-text-transform: {{ settings.button_text_transform }};

			--font-header-menu-family: {{ settings.type_header_menu_font.family }}, {{ settings.type_header_menu_font.fallback_families }};
			--font-header-menu-style: {{ settings.type_header_menu_font.style }};
			--font-header-menu-weight: {{ settings.type_header_menu_font.weight }};
			--font-header-menu-text-transform: {{ settings.header_menu_text_transform }};

			--font-popups-heading-family: {{ settings.type_popups_heading_font.family }}, {{ settings.type_popups_heading_font.fallback_families }};
			--font-popups-heading-style: {{ settings.type_popups_heading_font.style }};
			--font-popups-heading-weight: {{ settings.type_popups_heading_font.weight }};
			--font-popups-text-family: {{ settings.type_popups_text_font.family }}, {{ settings.type_popups_text_font.fallback_families }};
			--font-popups-text-style: {{ settings.type_popups_text_font.style }};
			--font-popups-text-weight: {{ settings.type_popups_text_font.weight }};
			--font-popups-scale: {{ settings.popups_scale | divided_by: 100.0 }};

			--color-base-text: {{ settings.colors_text.red }}, {{ settings.colors_text.green }}, {{ settings.colors_text.blue }};
			--color-title-text: {{ settings.colors_text_title.red }}, {{ settings.colors_text_title.green }}, {{ settings.colors_text_title.blue }};
			--color-secondary-text: {{ settings.colors_text_secondary.red }}, {{ settings.colors_text_secondary.green }}, {{ settings.colors_text_secondary.blue }};
			--color-base-background-1: {{ settings.colors_background_1.red }}, {{ settings.colors_background_1.green }}, {{ settings.colors_background_1.blue }};
			--color-base-background-2: {{ settings.colors_background_2.red }}, {{ settings.colors_background_2.green }}, {{ settings.colors_background_2.blue }};

			--color-secondary-element-background: {{ settings.colors_secondary_element_background.red }}, {{ settings.colors_secondary_element_background.green }}, {{ settings.colors_secondary_element_background.blue }};

			--color-announcement-bar-background: {{ settings.colors_background_announcement_bar.red }}, {{ settings.colors_background_announcement_bar.green }}, {{ settings.colors_background_announcement_bar.blue }};

			--color-section-border: {{ settings.colors_background_border_section.red }}, {{ settings.colors_background_border_section.green }}, {{ settings.colors_background_border_section.blue }};
			--color-base-solid-button-labels: {{ settings.colors_solid_button_labels.red }}, {{ settings.colors_solid_button_labels.green }}, {{ settings.colors_solid_button_labels.blue }};
			--color-base-outline-button-labels: {{ settings.colors_outline_button_labels.red }}, {{ settings.colors_outline_button_labels.green }}, {{ settings.colors_outline_button_labels.blue }};
			--color-base-button-background: {{ settings.colors_solid_button_background.red }}, {{ settings.colors_solid_button_background.green }}, {{ settings.colors_solid_button_background.blue }};
			--payment-terms-background-color: {{ settings.colors_background_1 }};

			}

			*,
			*::before,
			*::after {
			box-sizing: inherit;
			}

			html {
			box-sizing: border-box;
			font-size: calc(var(--font-body-scale) * 62.5%);
			height: 100%;

			}

			body {
			display: flex;
			flex-direction: column;
			position: relative;
			min-height: 100%;
			margin: 0;
			font-size: 1.4rem;
			line-height: 1.8;
			font-family: var(--font-body-family);
			font-style: var(--font-body-style);
			font-weight: var(--font-body-weight);
			overflow-x: hidden;
			}
			.content-for-layout {
			flex: 1;
			}

			@media screen and (min-width: 750px) {
			body {
			font-size: 1.4rem;
			}
			}

			.spaced-section {
			margin-top: 5rem;
			}

			@media screen and (min-width: 990px) {
			.spaced-section {
			margin-top: {{ settings.indent_section }}px;
			}
			}
		{% endstyle %}

		{%- unless settings.type_body_font.system? -%}
			<link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
		{%- endunless -%}
		{%- unless settings.type_header_font.system? -%}
			<link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
		{%- endunless -%}

		{{ 'section-password.css' | asset_url | stylesheet_tag }}
		{{ 'bootstrap-grid.css' | asset_url | stylesheet_tag }}
		{{ 'base.css' | asset_url | stylesheet_tag }}
		{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

		<script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
		<script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
		<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
		<script src="{{ 'password-modal.js' | asset_url }}" defer="defer"></script>
	</head>

	<body class="password">
		<a class="skip-to-content-link button visually-hidden" href="#MainContent">
			{{ 'accessibility.skip_to_text' | t }}
		</a>

		{% section 'main-password-header' %}

		<main id="MainContent" class="password-main">
			{{ content_for_layout }}
		</main>
		<footer>
			{% section 'main-password-footer' %}
		</footer>
	</body>
</html>
