<link rel = "stylesheet" href = "{{ 'component-card.css' | asset_url }}" media = "print" onload = "this.media='all'">
<link rel = "stylesheet" href = "{{ 'component-article-card.css' | asset_url }}" media = "print" onload = "this.media='all'">
<link rel = "stylesheet" href = "{{ 'section-featured-blog.css' | asset_url }}" media = "print" onload = "this.media='all'">

<noscript>{{ 'component-card.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-article-card.css' | asset_url | stylesheet_tag }}</noscript>

{{ 'section-featured-blog.css' | asset_url | stylesheet_tag }}

<div class = "blog container">
	<div class = "border-wrapper {% if section.settings.border_top %}border-wrapper--top{% endif %} {% if section.settings.border_bottom %}border-wrapper--bottom{% endif %}">
		<h2 class = "blog__title title--section title--section-mt-none h3">{{ section.settings.heading | escape }}</h2>

		{%- liquid
			if section.settings.post_limit <= section.settings.blog.articles_count
			assign posts_exceed_limit = true
			endif -%}
		{%- if section.settings.blog != blank and section.settings.blog.articles_count > 0 -%}
			<ul class = "blog__posts articles-wrapper blog__posts--3-items"
					role = "list"
			>
				{%- for article in section.settings.blog.articles limit: 3 -%}
					<li class = "blog__post article">
						{% render 'article-card', blog: section.settings.blog, article: article, show_image: section.settings.show_image, show_date: section.settings.show_date, show_author: section.settings.show_author %}
					</li>
				{%- endfor -%}
			</ul>


		{%- else -%}
		
			<ul class = "blog__posts articles-wrapper blog__posts blog__posts--3-items">
				<li class = "blog__post article">
					<article class = "article-card">
						<div class = "article-content motion-reduce">
							<div class = "article-card__image-wrapper">
								<div class = "article-card__image media media--landscape">
									{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
								</div>
							</div>

							<div class = "article-card__info">
								<header class = "article-card__header">
									<ul class = "article-card__tags">
										<li class = "article-card__tag">
											<span title="{{ 'sections.featured_blog.onboarding_tag' | t }}">{{ 'sections.featured_blog.onboarding_tag' | t }}</span>
										</li>
									</ul>

									<h2 class = "article-card__title h4">
										{{ 'sections.featured_blog.onboarding_title' | t }}
									</h2>

									{%- if section.settings.show_date -%}
										<span class = "circle-divider caption-with-letter-spacing">
											{{ 'sections.featured_blog.onboarding_date' | t }}
										</span>
									{%- endif -%}
								</header>
							</div>
						</div>
					</article>
				</li>
				<li class = "blog__post article">
					<article class = "article-card">
						<div class = "article-content motion-reduce">
							<div class = "article-card__image-wrapper">
								<div class = "article-card__image media media--landscape">
									{{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}
								</div>
							</div>
							<div class = "article-card__info">
								<header class = "article-card__header">
									<ul class = "article-card__tags">
										<li class = "article-card__tag">
											<span title="{{ 'sections.featured_blog.onboarding_tag' | t }}">{{ 'sections.featured_blog.onboarding_tag' | t }}</span>
										</li>
									</ul>
									<h2 class = "article-card__title h4">
										{{ 'sections.featured_blog.onboarding_title' | t }}
									</h2>

									{%- if section.settings.show_date -%}
										<span class = "circle-divider caption-with-letter-spacing">
											{{ 'sections.featured_blog.onboarding_date' | t }}
										</span>
									{%- endif -%}
								</header>
							</div>
						</div>
					</article>
				</li>
				<li class = "blog__post article">
					<article class = "article-card">
						<div class = "article-content motion-reduce">
							<div class = "article-card__image-wrapper">
								<div class = "article-card__image media media--landscape">
									{{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg' }}
								</div>
							</div>

							<div class = "article-card__info">
								<header class = "article-card__header">
									<ul class = "article-card__tags">
										<li class = "article-card__tag">
											<span title="{{ 'sections.featured_blog.onboarding_tag' | t }}">{{ 'sections.featured_blog.onboarding_tag' | t }}</span>
										</li>
									</ul>
									<h2 class = "article-card__title h4">
										{{ 'sections.featured_blog.onboarding_title' | t }}
									</h2>

									{%- if section.settings.show_date -%}
										<span class = "circle-divider caption-with-letter-spacing">
											{{ 'sections.featured_blog.onboarding_date' | t }}
										</span>
									{%- endif -%}
								</header>
							</div>
						</div>
					</article>
				</li>
			</ul>

			{%- if section.settings.show_view_all -%}
				<div class = "blog__view-all center small-hide medium-hide">
					<a class = "blog__button button button--secondary button--arrow">
						<span>{{ 'sections.featured_blog.view_all' | t }}</span> {% render 'icon-button-arrow' %}
					</a>
				</div>
			{%- endif -%}
		{%- endif -%}
		
		{%- if section.settings.blog != blank -%}
			<div class="blog__view-all-button">
				<a href="/pages/journal-astral" class="blog__custom-button button--oeuvres">
					<span class="button__text">Voir tous les articles de blog</span>
				</a>
			</div>
		{%- endif -%}
	</div>
</div>

{% schema %}
{
  "name": "t:sections.featured-blog.name",
  "tag": "section",
  "class": "spaced-section",
	"enabled_on": {
    "templates": ["*"]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "t:sections.featured-blog.settings.heading.default",
      "label": "t:sections.featured-blog.settings.heading.label"
    },
    {
      "type": "checkbox",
      "id": "border_top",
      "default": true,
      "label": "t:sections.featured-blog.settings.border_top.label"
    },
    {
      "type": "checkbox",
      "id": "border_bottom",
      "default": false,
      "label": "t:sections.featured-blog.settings.border_bottom.label"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-blog.settings.post_limit.label"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_image.label",
      "info": "t:sections.featured-blog.settings.show_image.info"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.featured-blog.settings.show_author.label"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_view_all.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-blog.presets.name",
      "settings": {
        "blog": "News"
      }
    }
  ]
}
{% endschema %}
