{{ 'image-collage.css' | asset_url | stylesheet_tag }}

<script src="{{ 'image-collage.js' | asset_url }}" defer="defer"></script>

<div class="container">
	<div class="border-wrapper {% if section.settings.border_top %}border-wrapper--top{% endif %} {% if section.settings.border_bottom %}border-wrapper--bottom{% endif %}">
		<div class="image-collage color-background-2 parallax-img-container {% if section.settings.layout == 'center' %} image-collage-center{% endif %}">
			<div class="image-collage__item">

				{%- if section.settings.sub_title != blank -%}
					<div class="subtitle">{{ section.settings.sub_title | escape }}</div>
				{% endif %}

				{%- if section.settings.image_title != blank -%}
					<div class="image-collage__title-image">
						{%- assign image_size = section.settings.image_width_title | append: 'x' -%}
						<img srcset="{{ section.settings.image_title | img_url: image_size }} 1x, {{ section.settings.image_title | img_url: image_size, scale: 2 }} 2x"
								 src="{{ section.settings.image_title | img_url: image_size }}"
								 alt="{{ section.settings.image_title.alt | escape }}"
								 height="{{ section.settings.image_title.height }}"
								 width="{{ section.settings.image_width_title }}"
						>
					</div>
				{%- endif -%}

				{%- if section.settings.title != blank -%}
					<h2 class="image-collage__title title--section m-0 title-alt h1">{{ section.settings.title | escape }}</h2>
				{% endif %}

				{%- if section.settings.text != blank -%}
					<div class="image-collage__text">
						{{ section.settings.text }}
					</div>
				{% endif %}

				<div class="image-collage__buttons">
					{%- if section.settings.button_label_1 != blank -%}
						<a {% if section.settings.button_link_1 != blank %} href="{{ section.settings.button_link_1 }}"{% endif %} class="button  button--arrow" {% if section.settings.button_link_1 == blank %} aria-disabled="true"{% endif %}>
							<span>{{ section.settings.button_label_1 | escape }}</span>{% render 'icon-button-arrow' %}
						</a>
					{%- endif -%}

					{%- if section.settings.button_label_2 != blank -%}
						<a {% if section.settings.button_link_2 != blank %} href="{{ section.settings.button_link_2 }}"{% endif %} class="button button--secondary  button--arrow" {% if section.settings.button_link_2 == blank %} aria-disabled="true"{% endif %}>
							<span>{{ section.settings.button_label_2 | escape }}</span>{% render 'icon-button-arrow' %}
						</a>
					{%- endif -%}
				</div>

			</div>
			<div class="image-collage__images">
				<div class="image-collage__image-list js-parallax" data-parallax-property="translateY" data-parallax-property-value="-150">
					{%- for block in section.blocks -%}
						<div class="image-collage__image" {{ block.shopify_attributes }}>
							{%- if block.settings.image != blank -%}
								{%- assign image_size = block.settings.image_width | append: 'x' -%}
								<img srcset="{{ block.settings.image | img_url: image_size }} 1x, {{ block.settings.image | img_url: image_size, scale: 2 }} 2x"
										 src="{{ block.settings.image | img_url: image_size }}"
										 alt="{{ block.settings.image.alt | escape }}"
										 width="{{ block.settings.image_width }}"
										 height="{{ block.settings.image.height }}"
								>
							{%- endif -%}
						</div>
					{%- endfor -%}
				</div>
				<div class="image-collage__image-main">
					{%- if section.settings.image_center != blank -%}
						{%- assign image_size = section.settings.image_width_center | append: 'x' -%}
						<img srcset="{{ section.settings.image_center | img_url: image_size }} 1x, {{ section.settings.image_center | img_url: image_size, scale: 2 }} 2x"
								 src="{{ section.settings.image_center | img_url: image_size }}"
								 alt="{{ section.settings.image_center.alt | escape }}"
								 height="{{ section.settings.image_center.height }}"
								 width="{{ section.settings.image_width_center }}"
						>
					{%- endif -%}
				</div>
			</div>
		</div>
	</div>
</div>


{% schema %}
{
	"name": "t:sections.image-collage.name",
	"tag": "section",
	"class": "image-collage-section spaced-section",
	"enabled_on": {
    "templates": ["*"]
  },
	"max_blocks": 8,
	"settings": [
		{
			"type": "text",
			"id": "sub_title",
			"default": "@shopstockholm",
			"label": "t:sections.image-collage.settings.sub_title.label"
		},
		{
			"type": "text",
			"id": "title",
			"default": "t:sections.image-collage.settings.title.default",
			"label": "t:sections.image-collage.settings.title.label"
		},
		{
			"type": "image_picker",
			"id": "image_title",
			"label": "t:sections.image-collage.settings.image_title.label"
		},
		{
			"type": "range",
			"id": "image_width_title",
			"min": 50,
			"max": 500,
			"step": 10,
			"default": 100,
			"unit": "t:sections.image-collage.settings.image_width_title.unit",
			"label": "t:sections.image-collage.settings.image_width_title.label"
		},
		{
			"type": "richtext",
			"id": "text",
			"default": "t:sections.image-collage.settings.text.default",
			"label": "t:sections.image-collage.settings.text.label"
		},
		{
			"type": "text",
			"id": "button_label_1",
			"default": "t:sections.image-collage.settings.button_label_1.default",
			"label": "t:sections.image-collage.settings.button_label_1.label"
		},
		{
			"type": "url",
			"id": "button_link_1",
			"label": "t:sections.image-collage.settings.button_link_1.label"
		},
		{
			"type": "text",
			"id": "button_label_2",
			"default": "Shop the Look",
			"label": "t:sections.image-collage.settings.button_label_2.label"
		},
		{
			"type": "url",
			"id": "button_link_2",
			"label": "t:sections.image-collage.settings.button_link_2.label"
		},
		{
			"type": "image_picker",
			"id": "image_center",
			"label": "t:sections.image-collage.settings.image_center.label"
		},
		{
			"type": "range",
			"id": "image_width_center",
			"min": 50,
			"max": 500,
			"step": 10,
			"default": 400,
			"unit": "t:sections.image-collage.settings.image_width_center.unit",
			"label": "t:sections.image-collage.settings.image_width_center.label"
		},
		{
			"type": "select",
			"id": "layout",
			"options": [
				{
					"value": "left",
					"label": "t:sections.image-collage.settings.layout.options__1.label"
				},
				{
					"value": "center",
					"label": "t:sections.image-collage.settings.layout.options__2.label"
				}
			],
			"default": "center",
			"label": "t:sections.image-collage.settings.layout.label"
		},
		{
			"type": "checkbox",
			"id": "border_top",
			"default": false,
			"label": "t:sections.image-collage.settings.border_top.label"
		},
		{
			"type": "checkbox",
			"id": "border_bottom",
			"default": false,
			"label": "t:sections.image-collage.settings.border_bottom.label"
		}
	],
	"blocks": [
		{
			"type": "image-collage_image",
			"name": "t:sections.image-collage.blocks.image-collage_image.name",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "t:sections.image-collage.blocks.image-collage_image.settings.image.label"
				},
				{
					"type": "range",
					"id": "image_width",
					"min": 50,
					"max": 200,
					"step": 10,
					"default": 100,
					"unit": "t:sections.image-collage.blocks.image-collage_image.settings.image_width.unit",
					"label": "t:sections.image-collage.blocks.image-collage_image.settings.image_width.label"
				}
			]
		}
	],
	"presets": [
		{
			"name": "t:sections.image-collage.presets.name",
			"blocks": [
				{
					"type": "image-collage_image"
				},
				{
					"type": "image-collage_image"
				},
				{
					"type": "image-collage_image"
				},
				{
					"type": "image-collage_image"
				},
				{
					"type": "image-collage_image"
				},
				{
					"type": "image-collage_image"
				},
				{
					"type": "image-collage_image"
				},
				{
					"type": "image-collage_image"
				}
			]
		}
	]
}
{% endschema %}
